Repository fogfish/typestep, changes with the labels that .github/labeler.yml gives for each.
All labels: [#] ci/cd, [#] deps, [#] doc, [#] lib

force signature of lambda to be with context
  examples/internal/core/core.go
  typestep.go
  typestep_test.go
Labels: [#] doc, [#] lib

force signature of lambda to be with context (#4)
  examples/internal/core/core.go
  typestep.go
  typestep_test.go
Labels: [#] doc, [#] lib

allow to enforce event type for event bus subscription
  typestep.go
Labels: [#] lib

allow to enforce event type for event bus subscription (#5)
  typestep.go
Labels: [#] lib

type safe AWS Lambda annotation
  README.md
  examples/cmd/fAtoU/main.go
  examples/cmd/fCtoPs/main.go
  examples/cmd/fPtoS/main.go
  examples/cmd/fUtoCs/main.go
  examples/go.mod
  examples/internal/core/core.go
  examples/main.go
  go.mod
  go.sum
  typefunc.go
  typestep.go
  typestep_test.go
Labels: [#] deps, [#] doc, [#] lib

add unit test for NewFunctionTyped
  .gitignore
  README.md
  examples/go.mod
  examples/go.sum
  examples/main.go
  go.mod
  go.sum
  internal/test/test.go
  typefunc.go
  typefunc_test.go
Labels: [#] deps, [#] doc, [#] lib

fix test at GHA
  typefunc.go
  typefunc_test.go
Labels: [#] lib

minor fixes
  README.md
  examples/go.mod
  examples/go.sum
  examples/internal/core/core.go
Labels: [#] doc

type safe AWS Lambda annotation (#6)
  .gitignore
  README.md
  examples/cmd/fAtoU/main.go
  examples/cmd/fCtoPs/main.go
  examples/cmd/fPtoS/main.go
  examples/cmd/fUtoCs/main.go
  examples/go.mod
  examples/internal/core/core.go
  examples/main.go
  go.mod
  go.sum
  internal/test/test.go
  typefunc.go
  typefunc_test.go
  typestep.go
  typestep_test.go
Labels: [#] deps, [#] doc, [#] lib

allow override message type at eventbus
  typestep.go
Labels: [#] lib

allow override message type at eventbus (#7)
  typestep.go
Labels: [#] lib

expose `awslambda.Function` to app for configurability
  typefunc.go
  typestep.go
Labels: [#] lib

expose `awslambda.Function` to app for configurability (#8)
  typefunc.go
  typestep.go
Labels: [#] lib

.github/labeler.yml:

"[#] ci/cd":
 - '.github/*'
 - '.github/**/*'

"[#] deps":
 - 'go.mod'
 - 'go.sum'

"[#] doc":
 - '*.md'
 - '*.svg'
 - 'doc/*'
 - 'doc/**/*'
 - 'examples/**/*'

"[#] lib":
 - '*.go'
 - 'test/*'
 - 'test/**/*'
